@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<Teams>
}

<a class="btn btn-primary w-100" asp-controller="Home" asp-action="Index" asp-route-teamnameid="">Home</a>
<br />
<br />

@foreach (var b in Model)
{
    <a class="btn btn-primary w-100"
       asp-controller="Home"
       asp-action="Index"
       asp-route-teamnameid="@b.TeamId"
       asp-route-teamname="@b.TeamName"
       asp-route-pagenum="1">@b.TeamName</a>
    <br />
    <br />
}
